---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import projects from "../data/projects";
import { Image } from "astro:assets";
---

<BaseLayout pageTitle="projects">
  <div class="page-container">
    <section class="slider">
      {
        projects.map((project) => (
          <article class="slider-item">
            <div class="card-img-container">
              <img
                src={project.image.src}
                alt={project.title}
                class="card-img"
              />
            </div>
            <section class="card-info-container">
              <header>
                <h2>{project.title}</h2>
                <ul class="tech-stack">
                  {project.tech_set.map((tech) => (
                    <li class={`tech-badge ${tech.color}`}>{tech.name}</li>
                  ))}
                </ul>
              </header>
              <div>
                <p>{project.description}</p>
                <p>
                  {project.url && (
                    <span>
                      Take a look at the code:{" "}
                      <a href={project.url}>{project.url}</a>
                    </span>
                  )}
                </p>
              </div>
              <footer>
                <p class={`project-status ${project.status.statusCode}`}>
                  {project.status.statusDescription}
                </p>
              </footer>
            </section>
          </article>
        ))
      }
    </section>
  </div>
</BaseLayout>

<style>
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 3em;
  }

  .slider {
    aspect-ratio: 5 / 3;
    width: 90%;
    position: relative;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    max-height: 65vh;
  }

  /* scrollbar styling */

  .slider::-webkit-scrollbar {
    background: var(--tertiary);
  }

  .slider::-webkit-scrollbar-thumb {
    background-color: darkred;
  }

  .slider::-webkit-scrollbar-track {
    background: var(--error);
    width: 50px;
  }

  .slider::-webkit-scrollbar {
    height: 5px;
  }

  .slider::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  .slider::-webkit-scrollbar-thumb {
    background: var(--primary);
    background-clip: content-box;
  }

  /* cards styling */

  .slider-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    background-color: var(--shadow);
    margin: 0em 1em 2em 0em;
    display: grid;
    grid-template-columns: 45% 55%;
    max-width: 100%;
    overflow-y: hidden;
  }

  .slider-item h2 {
    font-size: 4em;
  }

  .card-img-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .card-info-container {
    padding: 1em 2em;
  }

  .card-img {
    width: auto;
    height: 100%;
  }

  /* tech stack styling */

  .tech-stack {
    list-style: none;
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
  }

  .tech-badge {
    font-size: 1em;
    font-weight: bold;
    padding: 0.05em 0.5em;
  }

  .yellow {
    color: var(--yellow);
    border: 1px solid var(--yellow);
  }
  .orange {
    color: var(--orange);
    border: 1px solid var(--orange);
  }
  .blue {
    color: var(--blue);
    border: 1px solid var(--blue);
  }

  /* status styling - TODO: display status and footer */

  .card-info-container footer {
    display: none;
  }
  .project-status {
    font-weight: bold;
    font-size: 1.2em;
  }

  .not-started {
    color: var(--blue);
    border: 1px solid var(--blue);
  }

  .wip {
    color: var(--orange);
    border: 1px solid var(--orange);
  }

  .completed {
    color: var(--yellow);
    border: 1px solid var(--yellow);
  }

  /* responsive styling */

  @media (width < 1050px) {
    .slider {
      height: 65vh;
    }
    .slider-item h2 {
      font-size: 3em;
    }
  }

  @media (width < 1000px) {
    .slider-item h2 {
      font-size: 2.5em;
    }
  }
  @media (width < 800px) {
    .slider-item {
      grid-template-columns: none;
      grid-template-rows: auto auto;
    }
    .card-img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .slider-item h2 {
      font-size: 2.5em;
    }
  }
</style>
